<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fitness Management App</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bg {
        /* Full height */
        height: 94%;

        /* Center and scale the image nicely */
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        filter: blur(1px);
    }
</style>
<body style="background: white">
<div th:replace="~{fragments/header :: navbar}"></div>

<div class="bg" th:style="'background: url(/images/img.png);'"></div>

</body>
</html>